body {
    font-family: Arial, sans-serif;
    background-color: rgb(234, 232, 232);
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: #ff8c00;
    color: white;
}

.header h1 {
    margin: 0 auto;
}

.back-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

.container {
    padding: 2em 1.5em;
    background: white;
    margin: 1em auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
}

/* Form Styling */
.donation-form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.donation-form input {
    width: 100%;
    padding: 0.75em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}



.option-text {
    margin: 2em 0 1em;
    font-size: 1.2em;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.btn {
    padding: 0.75em 1.5em;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
}



.footer {
    background-color: #ff8c00;
    padding: 0.75em;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
}

.footer a i {
    font-size: 1.5em;
}
.btn {
    padding: 0.75em 1.5em;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
}

.save {
    background-color: #ff8c00;
    color: white;
}
a{
    color: white;
    text-decoration: none;

}
